In [ ]:
import pandas as pd
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen
import numpy as np
import math

In [ ]:
links = ['https://openpsychometrics.org/tests/characters/stats/FF/1/','https://openpsychometrics.org/tests/characters/stats/SL/1/','https://openpsychometrics.org/tests/characters/stats/MCU/1/','https://openpsychometrics.org/tests/characters/stats/B99/1/','https://openpsychometrics.org/tests/characters/stats/PC/1/','https://openpsychometrics.org/tests/characters/stats/GOT/5/','https://openpsychometrics.org/tests/characters/stats/GOT/2/','https://openpsychometrics.org/tests/characters/stats/F/5/','https://openpsychometrics.org/tests/characters/stats/VD/2/','https://openpsychometrics.org/tests/characters/stats/FF/2/']

In [ ]:
col_headers = []
data = urlopen(links[0])
data_html = data.read()
data.close()
data_soup = soup(data_html, 'html.parser')
headers = data_soup.findAll('th')
col_headers = [ch.text for ch in headers]
rows_data = data_soup.findAll('tr')

In [ ]:
col_headers = col_headers[:2]
col_headers = ['Trait', 'rating']

In [ ]:
table_rows = []
for link in links:
 data = urlopen(link)
 data_html = data.read()
 data.close()
 data_soup = soup(data_html, 'html.parser')
 rows_data = data_soup.findAll('tr')
 for row in rows_data:
  current_row = []
  row_data = row.findAll('td')
  for data in row_data:
   current_row.append(data.text)
  table_rows.append(current_row[:2])

In [ ]:
df = pd.DataFrame(table_rows, columns=col_headers)

In [ ]:
df.rating = df.rating.apply(pd.to_numeric, errors='coerce')

In [ ]:
df = df.dropna()

In [ ]:
df = df.reset_index(drop=True)
df

                                   Trait  rating
0               masculine (not feminine)    97.5
1            motivated (not unmotivated)    95.8
2               devoted (not unfaithful)    94.9
3                        fast (not slow)    94.7
4          family-first (not work-first)    94.0
...                                  ...     ...
3995               circular (not linear)    50.8
3996  boy/girl-next-door (not celebrity)    50.2
3997         practical (not imaginative)    50.3
3998             backdoor (not official)    50.3
3999            oxymoron (not tautology)    50.5

[4000 rows x 2 columns]

In [ ]:
df = df[df['rating']>=85]
df = df.reset_index(drop = True)
df

                                  Trait  rating
0              masculine (not feminine)    97.5
1           motivated (not unmotivated)    95.8
2              devoted (not unfaithful)    94.9
3                       fast (not slow)    94.7
4         family-first (not work-first)    94.0
..                                  ...     ...
544              charming (not awkward)    85.3
545              soulful (not soulless)    85.3
546  adventurous (not stick-in-the-mud)    85.2
547               generous (not stingy)    85.2
548                           ðŸ§¢ (not ðŸŽ©)    85.1

[549 rows x 2 columns]

In [ ]:
df['freq']=df.groupby(by='Trait')['Trait'].transform('count')
df = df.sort_values(by =['freq','rating'], ascending = (0,0))
df.drop_duplicates(subset ="Trait",keep ='first', inplace = True)

df = df.reset_index(drop=True)
df

                           Trait  rating  freq
0     important (not irrelevant)    93.5     9
1                 bold (not shy)    96.1     8
2      rebellious (not obedient)    96.6     7
3           badass (not weakass)    94.0     7
4       persistent (not quitter)    93.4     7
..                           ...     ...   ...
255           sweet (not bitter)    85.1     1
256  exhibitionist (not bashful)    85.1     1
257                    ðŸ§¢ (not ðŸŽ©)    85.1     1
258          summer (not winter)    85.0     1
259      anarchist (not statist)    85.0     1

[260 rows x 3 columns]

In [ ]:
want = df.iloc[:10,:]
want

                                Trait  rating  freq
0          important (not irrelevant)    93.5     9
1                      bold (not shy)    96.1     8
2           rebellious (not obedient)    96.6     7
3                badass (not weakass)    94.0     7
4            persistent (not quitter)    93.4     7
5  adventurous (not stick-in-the-mud)    96.6     6
6               funny (not humorless)    95.8     6
7                     fast (not slow)    94.7     6
8                      pro (not noob)    93.6     6
9                   playful (not shy)    96.1     5